* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #f4f4f4;
    --text-color: #141414;
    --button-hover: #ddd;
}

.dark {
    --bg-color: #141414;
    --text-color: #f4f4f4;
    --button-hover: #242424;
}

body {
    background-color: var(--bg-color);
    /* width: 100vw;
    height: 100vh; */
    transition: 350ms;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.switch-theme,
.yipeee,
.bwomp {
    all: unset;
    cursor: pointer;
    padding: 1rem;
    border-radius: 9999px;
    font-weight: 600;
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: 250ms;
    margin: 24px;
}

.switch-theme:hover,
.yipeee:hover,
.bwomp:hover {
    background-color: var(--button-hover);
    color: var(--text-color);
    transition: 0.5s;
}

.switch-theme-name {
    font-size: 4rem;
    color: var(--text-color);
    transition: 350ms;
}

.emoji {
    display: flex;
    justify-content: center;
    transition: 350ms;
}
.easter-egg {
    all: unset;
}

.unusual-buttons {
    display: none;
    justify-content: space-around;
}

@media screen and (max-width: 1080px){
    .switch-theme-name, 
    .emoji {
        font-size: 2.2rem;
    }
}